body {
    background-color: gray;
    color: white;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-item {
    width: 280px;
    padding: 20px;
    background: #4f5f5f;
    border-radius: 20px;
    margin: 10px;
}
